body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

/***
    navbar below
***/

.navbar{
    background-color: black;
}

/* .navbar-expand-lg{
    height: 80px;
}

.navbar-expand-lg .navbar-brand img{
    height: 35px;
} */

.navbar-brand img{
    height: 25px;
}

.navbar-toggler{
    color: white;
    border: none;
    font-size: 12px;
}

.nav-item{
    color: white;
    font-size: 12px;
}

.navbar-nav .nav-item{
    font-size: 1vw;
    font-weight: 500;
}

.nav-right{
    display: flex;
}

.nav-right a i{
    padding-left: 8px;
}

.nav-right i{
    font-size: 14px;
}

.navbar-nav i{
    padding-left: .5vw;
    padding-right: .2vw;
    font-size: 1.2vw;
}

.navbar-nav .link-icon{
    font-size: .8vw;
}

.navbar-collapse{
    justify-content: space-between;
}

.right-navbar-container{
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.right-navbar-container a{
    text-decoration: none;
}

.spanish{
	display: flex;
	align-items: center;
	padding: 3px 0px;
	border-left: 1px solid white;
}

.not-spanish{
	display: flex;
	align-items: center;
}

.not-spanish span{
    font-size: 1vw;
    font-weight: 500;
	color: white;
	padding-left: 10px;
}

.spanish span{
	font-size: 12px;
    padding-left: 10px;
    color: white;
}

.not-spanish i{
	color: #7f7f7f;
	padding-left: 20px;
}

.spanish i{
	color: #7f7f7f;
	padding-left: 20px;
	font-size: 14px;
}

/***
    carousel below
***/

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #bfbfbf;
    background-color: #ffba00;
}


.medium-carousel-jeep{
    background-image: url('secret.png');
    background-size: cover;
    height: 55vw;
    background-position: right center;
}

.medium-carousel-words{
    width: 40vw;
}

.medium-carousel-words img{
    height: 12vw;
    margin-bottom: 10px;
}

.medium-carousel-words .normal{
    line-height: 22px;
    font-size: 1em;
    color: white;
}

.medium-carousel-words .fine{
    font-size: .7em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.medium-carousel-words a{
    background-color: #ffba00;
    border-color: #ffba00;
    color: black;
    font-size: 14px;
    font-weight: 500;
}


/** **/

.medium-carousel-cars{
    height: 55vw;
    background-size: cover;
    background-position: center;
    background-image: url('buncha-jeeps.jpg')
}



.trans-box2{
    background-color: rgb(0,0,0,.5);
    text-align: center;
    padding: 30px 0px;
    margin-top: 20px;
}

.trans-box2 a{
    margin: 10px 30px;
    background-color: #ffba00;
    border-color: #ffba00;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.trans-box2 a:hover{
    background-color: #edad01;
    color: black;
    border-color: #edad01;
}

.plus-size2{
    width: 50px;
}

.trans-box2 table{
    font-size: 12px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.table-guy2{
    width: 30vw;
}

.trans-box2 td{
    padding: 5px;
}

/** **/

.trans-box{
    background-color: rgb(0,0,0,.5);
    text-align: center;
    padding: 30px 0px;
    margin-top: 20px;
}

.trans-box a{
    margin: 10px 30px;
    background-color: #ffba00;
    border-color: #ffba00;
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.trans-box a:hover{
    background-color: #edad01;
    color: black;
    border-color: #edad01;
}

.plus-size{
    width: 50px;
}

.trans-box table{
    font-size: 10px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

.table-guy{
    width: 30vw;
}

.trans-box td{
    padding: 5px;
}

.small-carousel-cars{
    height: 125vw;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url('cars-cars-cars.jpg');
}

.slide-six{
    top: 0px;
    height: 100px;
}

.slide-six span{
    font-size: 10px;
}

.slide-six img{
    height: 65px;
    margin-bottom: 10px;
}

.slide-six a{
    background-color: #ffba00;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    width: 250px;
    display: block;
    margin: auto;
}

.slide-six a:hover{
    background-color: #edad01;
    color: black;
    border-color: #edad01;
}

/***
    vehicles below
***/

.vehicles-container{
    background-color: white;
    padding-bottom: 30px;
}

.vehicles-header{
    font-weight: 700;
	font-size: 1.1em;
	color: #333333;
    padding-top: 35px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
}

.vehicles-header i{
    font-size: .5em;
}

.vehicles-container .card{
    border: none;
    border-radius: 0px;
    /* text-align: center; */
    line-height: 1.2;
}

.vehicles-container .card .card-text{
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.vehicles-container .card .card-body{
    padding-top: 0px;
}

.vehicles-container .card .card-body span{
    color: #636363;
    font-size: 8px;
}

/***
    promo below
***/

.promo-container{
    background-color: #d1d1d1;
    padding: 1rem;
}

.promo-container .card{
    border: none;
    border-radius: 0;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #d1d1d1;
}

.promo-container .card img{
    border-radius: 0;
}

.promo-container .card .card-body{
    background-color: black;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 14px;
}

.promo-container .card .card-body h5{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.promo-container .card .list-group .list-group-item{
    border: none;
    border-radius: 0;
    background-color: #212121;
    color: white;
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
}

.promo-container .card .list-group .list-group-item .fas{
    color: #ffba00;
    padding-left: 24px;
}

.promo-container .card .list-group{
    border-radius: 0;
    font-weight: 500;
}

.promo-container .card .list-group:last-child .list-group-item:last-child{
    border-radius: 0;
}

.random{
    color: black;
    background-color: #e7e7e7;
    padding: 2rem 2rem;
}

.random img{
    height: 11vw;
}

.random-text p{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    width: 180px;
}

.random a{
    background-color: #ffba00;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    width: 250px;
    display: block;
}

.random a:hover{
    background-color: #edad01;
    color: black;
    border-color: #edad01;
}

.kelley-container{
    background-color: #d1d1d1;
    padding: 40px 0px;
}

.kelley-big-text{
    font-size: 1.6rem;
	font-weight: 700;
    color: #333333;
    line-height: 1.8rem;
    margin-bottom: 20px;
}

.kelley-text-container p{
    color: black;
    font-size: 1rem;
    line-height: 1.1rem;
}

.kelley-text-container a{
    display: block;
    background-color: #ffba00;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
}

.kelley-text-container a:hover{
    background-color: #edad01;
    color: black;
    border-color: #edad01;
}

.kelley-text{
    max-width: 600px;
}

.search-container{
    background-color: #212121;
    padding: 30px;
}

.search-item{
    color: #bfbfbf;
    padding: 10px;
}

.search-bar input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 35px;
}

.search-bar button{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50%;
    background-color: #ffba00;
    color: black;
    font-weight: 700;
    border-color: #ffba00;
    font-size: 12px;
    height: 35px;
}

.search-bar button:hover{
    background-color: #edad01;
    color: black;
    border-color: #edad01;
}

/* .accordion .card-header:first-child{
    border-radius: 0px;
} */

.accordion{
    padding: .75rem 1.25rem;
}

.accordion .card{
    background-color: black;
    color: white;
    border-radius: 0px;
}

.accordion button{
    color: white;
    text-decoration: none;
}

.accordion h2{
    border-bottom: 1px solid white;
}

.accordion button{
    border-bottom: 1px solid white;
    border-radius: 0px;
    padding: 10px 0px;
}

.accordion span{
    font-size: 12px;
    font-weight: 700;
}

.accordion .card .card-body span{
    padding: 7px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #bfbfbf;
}

.socials{
    color: white;
    padding: 10px 0px;
}

.socials .row{
    padding: .75rem 1.25rem;
}

.socials span i{
    font-size: 30px;
    margin-top: 15px
}

.socials span img{
    margin-top: 15px;
}

.footer{
    padding: .75rem 1.25rem;
}

.footer-container{
    border-top: 1px solid #212121;
}

.footer-container span{
    padding: 10px 25px 0px 0px;
    font-size: 10px;
    color: #bfbfbf;
}

.footer-text{
    font-size: 10px;
    color: #bfbfbf;
    max-width: 500px;
    margin-top: 20px;
}